@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Knewave&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Potta+One&family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada:wght@300;400;500;600;700&family=Rubik+Glitch&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #f5f5f5;
  border: 1px solid #e9e9e9;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #9cbaeb;
  background: #bdbdbd;
}

*::-moz-selection {
  background: #2d566f;
  color: #de365e;
}

*::selection {
  background: #2d566f;
  color: #de365e;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

body .text-g3 {
  color: #303540;
}

body .text-g6 {
  color: #607080;
}

/*=== Trigger  ===*/
.animate, .fadeInUp {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.shadow-1 {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.shadow-3, .shadowHov-3 {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.shado-3-high {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.shadow-thick, .shadowHov-button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shadow-inset, .shadowHov-button:hover {
  -webkit-box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.shadow-trello-1, .shadowHov-trello {
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.shadow-trello-2, .shadowHov-trello:hover {
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

body .blue {
  color: blue;
}

@tailwind base {}@tailwind components {}@tailwind utilities {}@layer base {
  body .hero {
    @apply font-[800] text-3xl md:text-4xl lg:text-[64px] lg:leading-[1] {}
  }
  body .h_2 {
    @apply font-[800] text-2xl md:text-3xl lg:text-4xl lg:leading-[1] {}
  }
  body .cap, body .cap-thin, body .cap-thick {
    @apply text-[14px] tracking-[.2em] {}
  }
  body .cap-thin {
    @apply font-[400] text-gray-500 {}
  }
  body .cap-thick {
    @apply font-[900] text-gray-800 {}
  }
  body .p_xl {
    @apply text-base md:text-lg lg:text-xl lg:leading-[160%] {}
  }
  body .mb_2 {
    @apply mb-2 md:mb-4 lg:mb-6 {}
  }
  body .mb_3 {
    @apply mb-3 md:mb-6 lg:mb-8 {}
  }
}

@layer base {
  body .font-btn-1 {
    @apply text-sm md:text-base md:font-[600] {}
  }
}
